/* *** 		HOME BASE 		*** */
/* This is the sheet made to set base values and global properties */

@charset "UTF-8";

/* IMPORTS	*** */

@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

/* RESETS	*** */

body {
	margin: 0; padding: 0; width: 100%; height: 100%;
}
a {text-decoration: none;}

/* FONTS 	*** */

body {
	/*font-family: 'Open Sans', sans-serif;*/
    font-family: "Jua", serif;
    font-size: .8em;
}

/* BASE 	*** */

body, footer {
    cursor:
        url(images/pointer.png) 5 5,
        default;
}
a {
    cursor:
        url(images/clicker.png) 17 2,
        pointer;
}

body {
    display:flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

body {
    background-color: #2E3023;
    background-image: url(images/wallpaper.webp);
    background-position: center;
    background-size: cover;
    transition: background-image .75s;
}

section#container {
    display: flex;
    flex:2 0 auto; 
    height: auto; 
/*    background-color: rgba(255,50,50,.25);*/
    justify-content: center;
}
div#splash {
    display: flex; 
    height: calc( 100vh - 50px ); max-width: 400px;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
/*    background-color: rgba(255,50,50,.25);*/
}
#splash>* {
    display:block;
    margin:.75em;
    width:100px; height: 120px;
    text-align:center;
}
#splash :nth-child(1) {order:1}
#splash :nth-child(2) {order:2}
#splash :nth-child(3) {order:3}
#splash :nth-child(4) {order:4}
#splash :nth-child(5) {order:5}
#splash :nth-child(6) {order:6}
#splash :nth-child(7) {order:7}
#splash :nth-child(8) {order:8}
#splash :nth-child(9) {order:9}

#splash>a {
    display:flex;
    flex-direction:column; 
    justify-content:flex-end;
    border-radius: 5px;
    
    color:white;
    /*text-shadow: 1px 1px  black, -1px -1px  black, 0 2px  black, 0 3px black, 1px 3px black, -1px 3px black;*/
    text-shadow: 0 0 5px black ;
}

.splash_icon>div {
    display: inline-block;
    width: 100px; height: 100px;
    background-image: url(images/indexicons.png);   
    background-repeat: no-repeat;
    background-size: calc(300px * 1);
    border:none;
    filter:drop-shadow(0 6px 1px rgba(0,0,0,.25));
}
.splash_icon:hover>div, .splash_icon:focus>div {
    background-image: url(images/indexicons_hover.png); 
}
#splash .list_icon {order:6}
.insta { background-position: 0 0;}
.x_ {background-position:-100px 0;}
.inprnt {background-position:-200px 0;}
.catsup {background-position:-200px -100px;}
.twitch {background-position:0 -100px;}
.kofi {background-position: 0 -200px;}
.shop {background-position:-100px -200px;}
.newf {background-position:-200px -200px;}
.vgen {background-position: -100px -100px;}


#splash>a:hover, #splash>a:focus {
    transform:scale(1.1);
    background-color:rgba(255,255,255,.5);
}

footer {
    display:flex;
    width: 100vw; height: 3em;
    align-items: center;
    vertical-align: center;
    justify-content: space-between;
    
    text-transform: uppercase;
    
    border-top: 1px solid rgba(255,255,255,.1);
    background-color: linear-gradient(0deg, rgba(77,101,138,.5) 0%, rgba(205,205,205,0.1) 100%);
    backdrop-filter: blur(3px);
}
footer #tb_start, footer #tb_end {
    display: block; 
    aspect-ratio: 1/1;
    height: calc(100% - .8em); max-width: 50%;
    margin: 0 .5em;
    
    background-image:url(images/taskbaricons.png);
    background-repeat: no-repeat;
    background-size: auto 28px;
    
} 
footer #tb_end { aspect-ratio: 2/1; background-position: -28px 0;}
footer #taskbar>a {
    flex: 0 0 auto;
    padding: .5em .5em;
    background-color:rgba(205,205,205,.1);
    margin-left:.5em;
    border-radius: 2px;
    border: 1px solid rgba(255,255,255,.25);
    box-shadow: 0 0 0 1px rgba(0,0,0,.1);
    transition: all .75s;
}
footer #taskbar>a:any-link {
    color: white;
    text-decoration: none;
}
footer #taskbar>a:last-child {margin-right:.5em}
footer #taskbar>a:hover, footer #taskbar>a:focus {
    color: black;
    background-color:rgba(255,255,255,.8);
    transition: all .25s;
}

/*
@media( min-width: 820px ) {
    section#container {
        justify-content: flex-start;
    }
    div#splash {
        justify-content: flex-start;
        align-content: flex-start;
        flex-direction: column;
    }
    #splash .list_icon { order: 1;}
    }
*/